.idea/misc.xml
.idea/modules.xml
.idea/probable-journey.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
Contents/Developer/Platforms/iPhoneOS.platform/DeviceSupport/15.7/DeveloperDiskImage.dmg
Contents/Developer/Platforms/iPhoneOS.platform/DeviceSupport/15.7/DeveloperDiskImage.dmg.signature
__pycache__/long_march.cpython-310.pyc
last_loc.csv
__pycache__/*.pyc